# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Hack-n-Slash.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tomek\Desktop\OlsenSolutionsWebsite\Hack-n-Slash\.idea\.idea.Hack-n-Slash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
